.btn-detail{
    background: none;
    color: #00a79b;
    border: none;
}
.btn-cancel{
    background: none;
    color: #fe5a3a;
    border: none;
}
.btn-cancel:hover{
    background: #efefef;
}
.btn-detail-text{
    width: 100%;
    display: inherit;
    align-items: "inherit";
    justify-content: "inherit";
    padding: "6px 8px";
}
.btn-detail:hover{
    background: #efefef;
}
.text-service{
    margin: 0 0 3px;
}
.text-address{
    color: #808285;
    text-align: left;
    margin: 0 0 1px;
}
.table{
    border-radius: 10px;
}